{% paginate blog.articles by 5 %}
<div class="container p-0 m-0 mw-100">
  {%- assign blog_title = blog.title -%}

  {% if current_tags %}
    {% capture blog_title %}{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}{% endcapture %}
  {% endif %}

  <div class="row">
    <div class="col">
      <h1>{{ blog_title }}</h1>
    </div>
  </div>


  {% comment %}

  Article Previews
  ====================
  {% endcomment %}
  <div class="row">
  {% for article in blog.articles %}
    <div class="col-xs-12 col-md-6 pt-3 pb-3">
      <a class="text-dark" style="text-decoration: none;" href="{{ article.url }}">
        <div class="hero-banner hero-banner--article lazyload rounded" data-bgset="{% include 'responsive-bg-image', image: article.image %}"></div>
        <div class="bg-light p-2">
          <h4 class="mb-0 font-weight-bold">{{ article.title }}</h4>
          <small class="text-muted">
            {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
            {{ 'blogs.article.author_on_date_html' | t: author: article.author, date: date }}
          </small>
          <p class="mt-2">
            {{ article.content | strip_html | truncatewords: 100 }}
          </p>
          <button class="btn btn-warning">Read More ></button>
        </div>
      </a>
    </div>
  {% endfor %}
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
</div>
{% endpaginate %}
