{%- assign collection = collections[section.settings.content_collection] -%}
{%- assign collection_image = section.settings.content_collection_image -%}
        


<section id="collection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" itemscope itemtype="http://schema.org/Product" class="jumbotron jumbotron-fluid p-0 mb-3">
    <meta itemprop="name" content="{{ collection.title }}">
    <meta itemprop="url" content="{{ shop.url }}{{ collection.url }}">
    <meta itemprop="image" content="{{ collection_image | img_url: '400x' }}">
    <meta itemprop="description" content="{{ collection.description | strip_html | escape }}">

<a class="d-block w-100 h-100" href="{{ collection.url }}" >
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="container p-0 m-0 mw-100 position-absolute content-positioning">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <meta itemprop="price" content="{{ collection.price | divided_by: 100.00 }}">
        <div class="row justify-content-end  p-0 pr-md-3">
            <div class="col-12 mb-2">
                <h3 class="display-5 text-right text-danger font-weight-bold">
                    {{ section.settings.collection_title }}
                </h3>
                <p class="text-right text-light font-weight-bold
                {% if section.settings.use_dark_text == true %}
                  text-dark
                {% endif %}
                ">
                  {{ section.settings.collection_description | newline_to_br }}
                </p>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-xs-12 col-md-8  p-0 pr-md-3">
                <button class="btn btn-warning btn-lg w-100" role="button">Check it out</button>
            </div>
        </div>
    </div>
</a>


    {% unless collection == empty %}
        <script type="application/json" data-collection-json>
        {{ collection | json }}
        </script>
    {% endunless %}
</section>

<style>
    #collection-{{ section.id }} {
        height: 400px;
        background-image: url("{{ collection_image | img_url: '400x' }}");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>

{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
      {
        "type": "collection",
        "id": "content_collection",
        "label": "Collection"
      },
      {
        "type": "image_picker",
        "id": "content_collection_image",
        "label": "Image for collection"
      },
      {
        "type": "text",
        "id": "collection_title",
        "label": "Collection Title",
        "default": "Collection Title"
      },
      {
        "type": "textarea",
        "id": "collection_description",
        "label": "Collection Description",
        "default": "Description of Collection here."
      },
      {
        "type":      "checkbox",
        "id":        "use_dark_text",
        "label":     "Dark Text",
        "default":   false,
        "info":      "Use dark text for description?"
      }
    ]
  }

{% endschema %}