<footer>
  <div class="row bg-dark text-white pt-3 pb-1">
    <div class="col">
      <div class="row">
        <div class="col">
          <h3><strong>CONTACT US</strong></h3>
          <p class="text-white-50"><strong>{{ section.settings.company-description }}</strong></p>
          <address class="text-white-50">
            <strong>
              {{ section.settings.street-address }} <br>
              {{ section.settings.city | append: ", " | append: section.settings.state | append: " " | append: section.settings.zip-code }} <br><br>
              {{ section.settings.phone-number }}<br>
              <a href="{{ section.settings.e-mail }}">{{ section.settings.e-mail }}</a>
            </strong>
          </address>
        </div>
      </div>
      <div class="row">
        <div class="col text-white-50">
          {% include "social-footer-links" %}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <h3><strong>CUSTOMER CARE</strong></h3>
          {%- assign footer_linklist = section.settings.footer_linklist -%}
          {% if linklists[footer_linklist].links.size > 0 %}
            <ul class="nav flex-column">
              {% for link in linklists[footer_linklist].links %}
                <li class="nav-item">
                  <a href="{{ link.url }}" class="nav-link text-white-50 h5"><strong>{{ link.title }}</strong></a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row black text-light pt-2 pb-2">
    <div class="col">
      <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}</small>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "textarea",
        "id": "company-description",
        "label": "Description of the company",
        "default": "Company Description Here"
      },
      {
        "type": "text",
        "id": "street-address",
        "label": "Street address of the company",
        "default": "12345 Road Avenue"
      },
      {
        "type": "text",
        "id": "city",
        "label": "City where company is located",
        "default": "Eugene"
      },
      {
        "type": "text",
        "id": "state",
        "label": "State where company is located",
        "default": "OR"
      },
      {
        "type": "text",
        "id": "zip-code",
        "label": "Zip-Code",
        "default": "97402"
      },
      {
        "type": "text",
        "id": "phone-number",
        "label": "Contact Phone Number",
        "default": "(123) 234 3456"
      },
      {
        "type": "text",
        "id": "e-mail",
        "label": "Contact E-Mail",
        "default": "example@example.com"
      }
    ]
  }

{% endschema %}

<style type="text/css">
  .black {
    background-color: black
  }
</style>