
<div data-section-id="{{ section.id }}" data-section-type="header-section">
  <header role="banner">
    <div class="container m-0 p-0 mw-100">
      <div class="row justify-content-between">

      {% comment %} Main site Logo {% endcomment %}
        <div class="h-100 col-auto p-0">
            {% if template.name == 'index' %}
              <h2 itemscope itemtype="http://schema.org/Organization" class="mb-0">
            {% else %}
              <div class="h1" itemscope itemtype="http://schema.org/Organization">
            {% endif %}
                <a href="/" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
                  {% if section.settings.logo != blank %}
                    {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
                    <img src="{{ section.settings.logo | img_url: image_size }}"
                         srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                         alt="{{ section.settings.logo.alt | default: shop.name }}"
                         itemprop="logo"
                         class="img-fluid">
                  {% else %}
                    {{ shop.name }}
                  {% endif %}
                </a>
            {% if template.name == 'index' %}
              </h2>
            {% else %}
              </div>
            {% endif %}
        </div>

        <!-- Mobile version navigation buttons -->
        <div class="col-auto d-block d-md-none">
          <div class="row h-100 w-100 align-items-center">
            <div class="col pr-0">
              <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link pl-2" href="/cart">
                    <span class="badge badge-pill badge-danger text-white
                    {% if cart.item_count == 0 %}
                      d-none
                    {% endif %}">{{ cart.item_count }}</span>
                    <i class="fas fa-shopping-cart fa-lg
                    {% if cart.item_count > 0 %}
                      text-danger
                    {% endif %}"></i>
                  </a>
                </li>
                <li class="nav-item ">
                  <a class="btn btn-outline-dark" data-toggle="collapse" href="#navbarMobileNav" aria-controls="navbarMobileNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars fa-lg"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      {% comment %} Desktop Header Navigation {% endcomment %}
        <div class="col-xs-12 col-md align-items-center p-0">
          <div class="row justify-content-between h-100">

            {% comment %} Desktop Account Links {% endcomment %}
            <div class="col-md-12 p-0 d-none d-md-block">
              <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link small" href="/cart">
                    <span class="badge badge-pill badge-danger text-white
                    {% if cart.item_count == 0 %}
                      d-none
                    {% endif %}">{{ cart.item_count }}</span>
                    <i class="fas fa-shopping-cart fa-sm
                    {% if cart.item_count > 0 %}
                      text-danger
                    {% endif %}"></i>
                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link small" href="#">Chat</a>
                </li>
                  {% if shop.customer_accounts_enabled %}
                    {% if customer %}
                      <li class="nav-item">
                        <a class="nav-link small" href="/account">Account</a>
                      </li>
                    {% else %}
                      <li class="nav-item">
                        <a class="nav-link small" href="/account/login" id="customer_login_link">Login</a>
                      </li>
                    {% endif %}
                  {% endif %}
                <li>
                    {% if customer %}
                      <a class="nav-link small" href="/account/logout">Logout</a>
                    {% endif %}
                </li>
              </ul>
            </div>

            {% comment %} Main Navigation bar {% endcomment %}
            {% include 'header-nav-bar' %}

            {% comment %} Mobile Navigation bar {% endcomment %}
            {% include 'mobile-header-nav' %}

            {% comment %} Top Search Bar {% endcomment %}
            <div class="col-xs-12 col-md-3 align-self-center pl-0 pr-0">
              {% include 'search-bar'%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

</div>
</section>

{% if section.settings.logo != blank %}
  <style>
    .logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
{% endif %}


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      }
    ]
  }
{% endschema %}