{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Newsletter" section on the Theme Editor.

  Theme Store required settings
  - Heading: title of the newsletter section
  - Subheading: description of the newsletter section
{%- endcomment -%}
<section class="jumbotron jumbotron-fluid mb-3 pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-8 align-self-center p-3">
        {% if section.settings.subheading != blank %}
          <h1 class="mb-0"><strong>{{ section.settings.subheading | escape }}</strong></h1>
        {% endif %}
      </div>
      <div class="col-xs-12 col-lg-4 align-self-center">
        {% form 'customer' %}
          {% if form.posted_successfully? %}
            <h4 class="m-0 text-center">{{ 'general.newsletter_form.confirmation' | t }}</h4>
          {% else %}
          {{ form.errors | default_errors }}
          <div class="input-group">
              <input type="email" class="form-control" 
                name="contact[email]"
                id="Email"
                value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
                placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                autocorrect="off"
                autocapitalize="off">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="input-group-append">
                <button class="btn btn-warning" type="submit" name="commit" id="Subscribe">
                  <span>{{ 'general.newsletter_form.submit' | t }}</span>
                </button>
              </div>
            {% endif %}
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Newsletter",
    "settings": [
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "Subscription Reward Here"
      },
      {
        "type": "paragraph",
        "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
      }
    ],
    "presets": [{
      "name": "Newsletter",
      "category": "Promotional"
    }]
  }
{% endschema %}
