<section class="row">
	<div class="col text-right p-0 pb-3">
		<div class="row mb-5">
			<div class="col p-0">
				<ul class="nav flex-column">
				  <li class="nav-item">
				    <a class="nav-link text-dark" href="#">
				    	Sale Items
	    			  <i class="fas fa-tags text-danger"></i>
				    </a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-dark" href="#">
				    	MTR Collection
	    			  {% if section.settings.mtr-collection-logo != blank %}
	                    {% capture image_size %}{{ section.settings.mtr-collection-logo_max_width }}x{% endcapture %}
	                    <img src="{{ section.settings.mtr-collection-logo | img_url: image_size }}"
	                         srcset="{{ section.settings.mtr-collection-logo | img_url: image_size }} 1x, {{ section.settings.mtr-collection-logo | img_url: image_size, scale: 2 }} 2x"
	                         alt="{{ section.settings.mtr-collection-logo.alt | default: shop.name }}"
	                         itemprop="mtr-collection-logo"
													 class="mtr-collection-icon-styles">
	                  {% else %}
				    	<span class="badge badge-danger badge-pill">
		                    !
				    	</span>
	                  {% endif %}
				    </a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-dark text-truncate" href="#">
				    	Active Shooter / Mass Casualty
	    			  <i class="fas fa-shield-alt text-danger"></i>
				    </a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-dark" href="#">
				    	Batteries
	    			  <i class="fas fa-battery-full text-danger"></i>
				    </a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-dark" href="#">
				    	Wildland Firefighting
	    			  <i class="fas fa-fire text-danger"></i>
				    </a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-dark" href="#">
				      AEDs and Defibrillators
	    			  <i class="fas fa-heartbeat text-danger"></i>
					</a>
				  </li>
				</ul>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col">
				<h4 class="text-right pr-3"><strong>Articles</strong></h4>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ul class="nav flex-column">
				  <li class="nav-item">
				    <a class="nav-link text-dark" href="#">
				    	Article title name 1
	    			  <i class="fas fa-pencil-alt text-warning"></i>
				    </a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link text-dark" href="#">
				    	Article title name 2
							<i class="fas fa-pencil-alt text-warning"></i>
				    </a>
				  </li>
				</ul>
			</div>
		</div>
	</div>
</section>

<style>
	.mtr-collection-icon-styles {
		width: 1.33em;
		height: 1.33em;
		vertical-align: -15%;
	}
</style>

{% schema %}
  {
    "name": "Secondary Navigation",
    "settings": [
      {
        "type": "image_picker",
        "id": "mtr-collection-logo",
        "label": "MTR Collection Logo image"
      }
    ]
  }
{% endschema %}